body {
  font-family: monospace;
  max-width: 640px;
  margin: auto;
  padding: 10px;
  border-top: 5px solid lightsteelblue;
}

.info {
  color: slategray;
  font-style: italic;
}

img.inline {
  max-width: 1em;
}

.footer {
  font-family: "Cascadia Code", serif;
  font-size: 11px;
  margin-bottom: auto;
  position: absolute;
  bottom: 0;
}
